.additional-product-card {
  padding: 12px 0 20px;
  border-bottom: 1px solid @gray-5;

  &--first {
  border-top: 1px solid @gray-5;
  }

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 17px;
  }
}

.additional-product-card__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    flex: auto;
    margin-right: 40px;
  }
}

.additional-product-card__title {
  margin: 0;
  margin-bottom: 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: @light-black;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product-card__properties {
  list-style-type: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  line-height: 14px;

  @media (min-width: @tablet-width) {
    max-width: 50%;
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: @desktop-width) {
    width: 47%;
  }
}

.additional-product-card__amount {
  @media (min-width: @tablet-width) {
    margin-right: 40px;
  }
  @media (min-width: @desktop-width) {
    margin-right: auto;
  }
}

.additional-product-card__price {
  @media (min-width: @tablet-width) {
    width: 50px;
    text-align: right;
  }
}

.additional-product-card__button {
  @media (min-width: @desktop-width) {
    width: 27%;
  }
}
