.application-form {
  padding-top: 27px;
  padding-bottom: 32px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: @dark-gray;
  text-transform: uppercase;
}

.application-form__main-title {
  .title-typical;
  margin-bottom: 38px;
}

.application-form__paragraph {
  font-size: 14px;
  color: @black;
  margin-bottom: 38px;
}

.application-form__personal {
  margin: 0;
  padding-bottom: 24px;
  border: none;
}

.application-form__form-label {

}

.application-form__form-input {
  font: inherit;
  line-height: 18px;
  color: @dark-gray;
  text-transform: uppercase;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: @dark-gray;
    text-transform: uppercase;
    opacity: 1;
  }
}

.application-form__radio {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 19px;
  border: none;
  border-top: 1px solid @gray;
  border-bottom: 1px solid @gray;
}

.application-form__radio-label {

}

.application-form__radio-input {

}

.application-form__contacts {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 24px;
  border: none;
}

.application-form__comment {
  padding-bottom: 23px;
}

.application-form__title {
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @black;
  text-transform: none;
}

.application-form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: @dark-gray;
  text-transform: uppercase;
}

.application-form__checkbox {
  margin: 0;
  padding-bottom: 34px;
  border: none;
}

.application-form__checkbox-label {
  color: @black;
}

.application-form__checkbox-input {

}

.application-form__button {

}

.application-form__note {
  display: block;

  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: @black;
  text-transform: none;
  text-align: center;
}
