.approaches__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.approaches__item {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 28px 33px 23px 20px;
  min-width: 280px;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    padding: 77px 62px 57px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 77px 64px 55px 52px;
    margin-bottom: 0;
  }

  &--weight-loss {
    &::before {
      background-image: url("../img/cat-slim.svg");
    }
  }

  &--weight-gain {
    &::before {
      background-image: url("../img/cat-pro.svg");
    }
  }

  &::before {
    content: "";
    width: 67px;
    height: 50px;
    background-size: auto 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    left: 13px;

    @media (min-width: @tablet-width) {
      background-size: contain;
      width: 268px;
      height: 211px;
      top: auto;
      left: auto;
      right: 28px;
      bottom: 80px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 100px;
      background-size: auto 100px;
      top: 47px;
      left: 33px;
      right: auto;
      bottom: auto;
    }
  }
}

.approaches__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 71px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: @black;
  text-transform: uppercase;
  word-break: break-word;

  @media (min-width: @tablet-width) {
    max-width: 340px;
    margin-bottom: 24px;
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
    margin-bottom: 73px;
    margin-left: 162px;
  }
}

.approaches__description {
  margin: 0;
  margin-bottom: 23px;
  word-break: break-word;

  @media (min-width: @tablet-width) {
    width: 57%;
    min-height: 82px;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 18px;
  }
}

.approaches__link {
  border-top: 1px solid @gray;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}
