.before-after {
  position: relative;
  z-index: 1;
}

.before-after__image-before {
  @media (min-width: @tablet-width) {
    width: 560px;
    height: auto;
  }
}

.before-after__image-after {
  display: none; /*это временно*/
  @media (min-width: @tablet-width) {
    width: 560px;
    height: auto;
  }
}
