.button-show-more {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @dark-gray;
  border: none;
  background-color: @light-gray;
  outline: inherit;
  cursor: pointer;
  word-break: break-word;

  @media (min-width: @tablet-width) {
    padding: 10px 26px;
  }

  &:hover,
  &:focus {
    background-color: @gray-4;
  }

  &:active {
    color: rgba(@dark-gray, 30%);
  }
}
