.location {
  width: 100%;

  @media (min-width: @desktop-width) {
    padding: 95px 110px 107px;
    position: relative;
  }
}

.location__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;

  background-color: @light-gray;
  &--index {
    background-color: @white;
  }
  @media (min-width: @tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 80px;
    width: 565px;
    margin: 0;
    margin-right: auto;
    background-color: @white;
  }
}

.location__invitation {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
  max-width: 139px;

  @media (min-width: @tablet-width) {
    max-width: 170px;
    font-size: 20px;
    line-height: 26px;
  }
}

.location__address {
  max-width: 139px;

  @media (min-width: @tablet-width) {
    max-width: 160px;
    font-size: 16px;
    line-height: 20px;
  }
}

.location__image {
  display: block;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
}
