.main-container__title {
  .title-typical;

  padding: 0 20px;
  max-width: @desktop-width;
  margin: 27px auto 40px;

  @media (min-width: @tablet-width) {
    margin: 34px auto 162px;
    padding: 0 30px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 48px auto 163px;
    padding: 0 110px;
  }
}
