.main-header {
  .container;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    position: relative;

    &--nojs {
      position: static;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-header__wrapper {
  padding: 10px 20px 17px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    align-self: flex-start;
  }
}

.main-header__logo {
  display: block;

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-header__logo-image {
  display: block;
  height: 38px;
  width: 191px;

  @media (min-width: @tablet-width) {
    height: 52px;
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
    width: 202px;
  }
}

.main-header__toggle {
  margin-left: auto;
  padding: 0;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &--opened {
    height: 24px;
    width: 24px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: @black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: @green;
    }

    &:active::before,
    &:active::after {
      opacity: 60%;
    }
  }

  &--closed {
    height: 20px;
    width: 24px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 3px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 24px;
      height: 2px;
      background-color: @black;
      box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
    }

    &:hover::before,
    &:focus::before {
      background-color: @green;
      box-shadow: 0 8px 0 0 @green, 0 16px 0 0 @green;
    }

    &:active::before {
      opacity: 60%;
    }
  }

  &--nojs {
    display: none;
  }
}

.main-header__nav {
  @media (max-width: @mobile-width-only) {
    background-color: @white;

    &--closed {
      display: none;
    }

    &--opened {
      display: block;
      position: absolute;
      z-index: 10;
      width: 100%;
      top: 65px;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 70%;
  }

  @media (min-width: @desktop-width) {
    max-width: 50%;
  }

  &--nojs {
    display: block;
  }
}
