.page-footer {
  padding-top: 40px;
  padding-bottom: 22px;
  font-size: 16px;
  line-height: 20px;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
    padding-bottom: 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo-cat-energy {
  display: block;
  padding-bottom: 32px;
  border-bottom: 1px solid @gray;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-footer__logo-cat-energy-image {
  width: 128px;
  height: 24px;
  display: block;
  margin: 0 auto;
}

.page-footer__social-list {
  padding: 20px;
  border-bottom: 1px solid @gray;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: 26px;
    border: none;
  }
}

.page-footer__html-academy-logo-wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    justify-content: flex-end;
  }
}

.page-footer__html-academy-logo-text {
  font: inherit;
  color: inherit;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-right: 23px;
  }

  &:hover + .page-footer__html-academy-logo,
  &:focus + .page-footer__html-academy-logo {
    color: @green;
  }

  &:active,
  &:active + .page-footer__html-academy-logo {
    opacity: 30%;
  }
}

.page-footer__html-academy-logo {
  color: inherit;

  &:hover,
  &:focus {
    color: @green;
  }

  &:active {
    opacity: 30%;
  }
}

.page-footer__html-academy-logo-image {
  display: block;
}
