@white: #ffffff;
@black: #000000;
@light-black: #222222;
@light-black-2: #111111;
@green: #68b738;
@gray-2: #e6e6e6;
@gray-3: #eaeaea;
@gray-4: #ebebeb;
@gray-5: #cdcdcd;
@gray-6: #666666;
@light-gray: #f2f2f2;
@gray: #d9d9d9;
@dark-gray: #444444;
