.title-typical() {
  margin: 0;

  font-family: "Oswald","Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @black;
  text-transform: none;
}

.container {
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  max-width: @desktop-width;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin: 0 auto;
  }
}

.container--form {
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  max-width: @desktop-width;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin: 0 auto;
  }
}

.grid-desktop() {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 80px;
}

.triangle(@_; @size; @color) {
  width: 0;
  height: 0;
  border: @size solid @color;
}

.triangle(right; @size; @color) {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
}

.triangle(left; @size; @color) {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
}

.fieldset-decoration() {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 13px;
    display: block;
    width: 90%;
    height: 2px;
    background-color: @green;
    z-index: -1;

    @media(min-width: @tablet-width) {
      width: 100%;
      top: 19px;
    }
  }
}

.centered() {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

